.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;

  background-color: #000;
  color: #fff;

  font-size: 12px;
  font-weight: 600;

  padding: 4px 8px;
  border-radius: 3px;

  z-index: 2;
}
