.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 3;
}

.badge--on-sale {
  background: #000;
  color: #fff;
}
