.filters {
  width: 260px;
  padding: 20px;
  border-right: 1px solid #e5e5e5;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 120px;
  height: fit-content;
}

.filters h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.filters hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 22px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #c0392b;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

/* PRICE INPUTS */
.price-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.price-box input {
  width: 80px;
  padding: 6px;
  border: 1px solid #ccc;
}

.price-box span {
  font-size: 14px;
}
