body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
}

.dropdown-menu-item {
     position: relative;
    top: 35px;
    left: 0;
    width: 230px;
    background: #fff;
    border-top: 3px solid #ff3b30;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 1000;
}
/* SIDEBAR */
.filters {
  width: 260px;
  background: #ffffff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

/* FILTER SECTION */
.filter-section {
  margin-bottom: 20px;
}

/* HEADER */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-bottom: 12px;
}

.arrow {
  font-size: 14px;
}

/* AVAILABILITY */
.availability {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #000;
}

.switch input:checked + .slider::before {
  transform: translateX(18px);
}

.stock-text {
  font-size: 14px;
  color: #444;
}

/* DIVIDER */
hr {
  border: none;
  height: 1px;
  background: #eee;
  margin: 20px 0;
}

/* PRICE */
.price-range {
  width: 100%;
  margin: 10px 0 15px;
  cursor: pointer;
}

/* PRICE INPUTS */
.price-inputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-box {
  width: 80px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.price-box:focus {
  outline: none;
  border-color: #000;
}

.to {
  font-size: 14px;
  color: #555;
}

/* SORT BAR */
/* SORT BAR */
.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

/* LEFT ICONS */
.view-icons {
  display: flex;
  gap: 18px;
}

.icon {
  display: grid;
  grid-template-columns: repeat(2, 6px);
  grid-template-rows: repeat(2, 6px);
  gap: 4px;
  cursor: pointer;
}

.icon span {
  width: 6px;
  height: 6px;
  background: #000;
}

.icon.light span {
  background: #999;
}

.icon.active span {
  background: #000;
}

